{% extends 'base.html' %}

{% block title %}Sign up- Expense Tracker{% endblock %}

{% block content %}
<div class="main-content">
  <div class="container">
    <div class="form-card">
      <div class="inner-card">
        <form id="signupForm" class="needs-validation" novalidate>
          <h3 class="form-title">Sign Up</h3>
          <div class="mb-4">
            <input type="text" class="form-control custom-input" id="Name" name="name" placeholder="John"
              required />  
          </div>
          <div class="mb-4">
            <input type="email" class="form-control custom-input" id="email" name="email" placeholder="Email"
              required />
          </div>
          <div class="mb-4">
            <input type="password" autocomplete="new-password" class="form-control custom-input" id="password"
              name="password" placeholder="Password" required />
          </div>
          <button type="submit" class="btn btn-primary signup-btn">Sign Up</button>
          <div class="sign-in-link">
            Already have an account? <a href="#" id="signInLink">Sign In</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}