<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    &copy; CITS5505 Group Project - Expense Tracker
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>
                    Created by: Anandhu Raveendran (24254189), Jiawen Xu (24071442),
                    Peiyu Yu (23901307), Zixiao Ma (24116864)
                </p>
            </div>
        </div>
    </div>
</footer>